* {
    font-family: sans-serif;
    color: rgb(87, 87, 87);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    user-select: none;
    overflow: hidden;
}

body {
    height: 100vh;

}

h1 {
    text-align: center;
    margin: 50px;
}

h2 {
    margin: 5px;
}

.max_number_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    flex-wrap: wrap;
}
.high_low_container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;

}

.box {
    padding: 10px;
    margin: 3px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.lower {
    background-color: salmon;
}
.higher {
    background-color: rgb(139, 250, 114);
}

.bigbox {
    width: 150px;
    height: 80px;
}

.smallbox {
    padding: 14px;
    background-color: rgb(126, 122, 255);
    width: 100px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.score_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current_points {
    width: 200px;
    text-align: center;
    margin: 2px;
    background-color: limegreen;
    border-radius: 30px;
    height: 45px;
    width:200px
}
.highest_points {
    width: 200px;
    text-align: center;
    margin: 2px;
    background-color: limegreen;
    border-radius: 30px;
    height: 45px;
    width:200px
}

input {
    text-align: center;
    padding-left: 15px;
}

